@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  /*background-image:url(images/tiled-bg.png);*/

    background-image:radial-gradient(purple,black);

}


details{
    border:1px solid blue;
    border-radius: 10px;
    margin: bottom 1rem;
}
details summary{
    background-color: blue;
    color: white;
    border-radius: 10px 10px 0 0;
}


dialog{
    border:3px solid blue;
}
dialog::backdrop{
    background-color: black;
    opacity: 0.75;
}

#hero{
    border:1px solid black;
    background-image: url("images/banff.webp");
    background-repeat: no-repeat;
    width:700px;
    height:476px;

}

